In [17]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns

In [3]:
df=pd.read_csv('train (2).csv')
df

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively
...,...,...,...,...,...,...,...,...
704,Female,20,4,5,6,6,1,responsible
705,Male,18,6,3,1,5,5,dependable
706,Male,22,5,2,3,6,1,serious
707,Male,19,5,6,5,7,5,extraverted
708,Female,18,5,5,7,6,5,extraverted

In [4]:
df.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively

In [5]:
df.tail()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
704,Female,20,4,5,6,6,1,responsible
705,Male,18,6,3,1,5,5,dependable
706,Male,22,5,2,3,6,1,serious
707,Male,19,5,6,5,7,5,extraverted
708,Female,18,5,5,7,6,5,extraverted

In [6]:
df.shape

(709, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     709 non-null    object
 1   Age                        709 non-null    int64
 2   openness                   709 non-null    int64
 3   neuroticism                709 non-null    int64
 4   conscientiousness          709 non-null    int64
 5   agreeableness              709 non-null    int64
 6   extraversion               709 non-null    int64
 7   Personality (Class label)  709 non-null    object
dtypes: int64(6), object(2)
memory usage: 44.4+ KB

In [8]:
df.describe()

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
count,709.000000,709.000000,709.000000,709.000000,709.000000,709.000000
mean,19.685472,5.019746,4.647391,4.643159,4.827927,4.409027
std,2.510672,1.519052,1.658673,1.703569,1.632564,1.567404
min,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,4.000000,3.000000,4.000000,3.000000
50%,19.000000,5.000000,5.000000,5.000000,5.000000,5.000000
75%,21.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,28.000000,8.000000,8.000000,8.000000,8.000000,7.000000

In [9]:
df.isnull().sum()

Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (Class label)    0
dtype: int64

In [10]:
df.value_counts(['Personality (Class label)'])

Personality (Class label)
serious                      161
extraverted                  150
dependable                   138
lively                       134
responsible                  126
dtype: int64

In [11]:
df.replace({'Personality (Class label)':{'serious':0,'extraverted':1,'dependable':2,'lively':3,'responsible':4}},inplace = True)
df

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,1
1,Male,19,4,5,4,6,6,0
2,Female,18,7,6,4,5,5,2
3,Female,22,5,6,7,4,3,1
4,Female,19,7,4,6,5,4,3
...,...,...,...,...,...,...,...,...
704,Female,20,4,5,6,6,1,4
705,Male,18,6,3,1,5,5,2
706,Male,22,5,2,3,6,1,0
707,Male,19,5,6,5,7,5,1
708,Female,18,5,5,7,6,5,1

In [12]:
y=df['Personality (Class label)']
y

0      1
1      0
2      2
3      1
4      3
      ..
704    4
705    2
706    0
707    1
708    1
Name: Personality (Class label), Length: 709, dtype: int64

In [13]:
x=df.drop(['Personality (Class label)','Gender'],axis=1)
x

,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion
0,17,7,4,7,3,2
1,19,4,5,4,6,6
2,18,7,6,4,5,5
3,22,5,6,7,4,3
4,19,7,4,6,5,4
...,...,...,...,...,...,...
704,20,4,5,6,6,1
705,18,6,3,1,5,5
706,22,5,2,3,6,1
707,19,5,6,5,7,5
708,18,5,5,7,6,5

In [15]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [16]:
x.shape,X_train.shape,X_test.shape

((709, 6), (638, 6), (71, 6))

In [19]:
knn=KNeighborsClassifier()

In [20]:
knn.fit(X_train,y_train)
X_train_pred=knn.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

knn.fit(X_test,y_test)
X_test_pred=knn.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.493730407523511
accuracy score of test data: 0.5211267605633803

C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [21]:
forest=RandomForestClassifier()

In [22]:
forest.fit(X_train,y_train)
X_train_pred=forest.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

forest.fit(X_test,y_test)
X_test_pred=forest.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9905956112852664
accuracy score of test data: 0.9859154929577465

In [23]:
tree=DecisionTreeClassifier()

In [24]:
tree.fit(X_train,y_train)
X_train_pred=tree.predict(X_train)
score=accuracy_score(y_train,X_train_pred)
print('accuracy score of trained data:',score)

tree.fit(X_test,y_test)
X_test_pred=tree.predict(X_test)
score=accuracy_score(y_test,X_test_pred)
print('accuracy score of test data:',score)

accuracy score of trained data: 0.9905956112852664
accuracy score of test data: 0.9859154929577465

In [35]:
input_data=(19,5,5,4,5,4)
input_data_as_np=np.asarray(input_data)
reshaped=input_data_as_np.reshape(1,-1)
prediction=tree.predict(reshaped)
prediction

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [36]:
if(prediction[0]==0):
    print("Serious")
elif(prediction[0]==1):
    print("Extroverted")
elif(prediction[0]==2):
    print("Dependable")
elif(prediction[0]==3):
    print("Lively")
else:
    print("Responsible")

Dependable